.adstats-container {
  position: fixed;
  top: 42%;
  left: 27.5%;
  width: 53%;
  height: 100%;
}

.requirements {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1em;
  width: 50%;
  left: 13%;
}

.position-text {
  font-weight: 500;
  font-size: 14px;
}

.requierement {
  background-color: rgb(58 57 57 / 8%);
  padding: 8px;
  color: rgba(58, 57, 57, 0.989);
}

.line {
  position: relative;
  top: 5%;
  right: 3%;
  width: 65.4%;
  height: 0.5px;
  background-color: rgb(216, 211, 211);
}
