.navbar-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 30.5%;
  height: 100vh;
  left: 9.5%;
  top: 20%;
}

.navbar-buttons {
  display: flex;
  gap: 1rem;
}

.homepage-icon {
  width: 25px;
  height: 25px;
}

.software-development-icon {
  width: 25px;
  height: 25px;
}

.software-testing-icon {
  width: 25px;
  height: 25px;
}

.devops-icon {
  width: 25px;
  height: 25px;
}

.design-icon {
  width: 25px;
  height: 25px;
}

.product-management-icon {
  width: 25px;
  height: 25px;
}

.nav-links {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.clicked {
  font-weight: bolder;
}
