.newsfeed-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  top: 10%;
  left: 28.8%;
  width: 34.7%;
  height: 100%;
}

.snippet {
  display: flex;
  width: 100%;
  height: 25%;
  border: 0.3px solid rgb(216, 211, 211);
}

.content {
  margin: 10px;
}

.svg-icon {
  margin: -4px 7px;
  width: 20px;
  height: 20px;
}

.location {
  color: gray;
  font-size: 15px;
  margin-bottom: 9px;
  margin-top: 4px;
}

li {
  font-size: 12px;
  width: 20%;
  margin-top: 13px;
}

.snippet-hour {
  width: 20%;
}

.google-icon {
  width: 80px;
  font-size: 3rem;
  margin: 7px;
}

.google-title {
  margin-bottom: 6px;
}

.adsnippet-text {
  color: rgb(43 43 43 / 95%);
  width: 100%;
  font-size: 13px;
}

.adsnippet-icons {
  position: relative;
  display: flex;
  gap: 0 6rem;
  width: 132%;
  color: gray;
  top: 20%;
}

.adsnippet-icons > div > span {
  position: absolute;
  margin-left: 16px;
  bottom: 12%;
}
